
* {
  transition:.5s ease-in-out;
  box-sizing:border-box;
}

.accordion {
  margin:94px auto 0 auto;
  width:453.8px;
  height:300px;
  position:relative;
  input.tab-toggle {
    position:absolute;
    opacity:0;
    &:checked {
      + label {
        background:#23272A;
        .tab-title {
          &:hover {
            background:transparent;
          }
        }
        .tab {
          visibility:visible;
          opacity:1;
        }
      }
    }
  }
  label {
    background-color: #2C2F33;
    color: white;
    float:left;
    font-size:16px;
    line-height:16px;
    border-radius:3px 3px 0 0;
    &:first-of-type {
      .tab {
        border-radius:0 3px 3px 3px;
      }
    }
    .tab-title {
      display:block;
      padding:20px;
      border-radius:3px 3px 0 0;
      &:hover {
        cursor:pointer;
        background:rgba(0,0,0,.1);
      }
    }
  }
  .tab {
    visibility:hidden;
    opacity:0;
    position:absolute;
    padding:20px;
    top:56px;
    left:0;
    min-width:100%;
    background:#47494d;
    border-radius:3px;
  }
}
